* { box-sizing: border-box; }

.container_h{
  margin: 0;
  width: 100%;
}
.container_f{
  margin: auto;
  width: 100%;
}
.container_b{
  margin: auto;
  width: 80%;
}
.header_block h1{
  background-color: #d9cab0;
  padding: 20px;
  font size: 25px;
  text-align: center;
  margin-top:0;
}
.header h1{
  font-size: 30px;
  padding-top: 15px;
  clear: both;
  text-align:center;
}
.header h2 {
  font-size: 20px;
  padding-top: 10px;
  clear: both;
  text-align:left;
}

.body p {
  color:#737373;
  text-align:center;
  font-size: 13px;
}

.body_p p {
  color:#737373;
  text-align:center;
  font-size: 15px;
}

.body_h1 p{
  font size: 24px;
  text-align: center;
}

.body_h21 p{
  font size: 22px;
  text-align: center;
  text-decoration: line-through;
}

.body_h22 p{
  font size: 22px;
  text-align: center;
}

.image_b img {
  margin-right: 0px;
  margin-left: 0px;
  object-fit: contain;
}

.image img {
  width: 100%;
}

.stretch img {
 background-repeat: no-repeat;
 background-size: cover;
}

.stretch_b img {
  min-width:100%; min-height:100%; width:auto; height:auto;
}

.footer {
  font size: 10px;
  text-align: center;
}
